<!DOCTYPE html>
<html>
  <head>
    <title>New Poll</title>

    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1>New Poll</h1>

    <h2>Possible Poll Options:</h2>
    Poll Name:
    <br>
    <input id='poll-name'>
    <br>
    Option #1:
    <br>
    <input class='poll-option' id='poll-option-1'>
    <br>
    Option #2
    <br>
    <input class='poll-option' id='poll-option-2'>
    <br>
    Option #3
    <br>
    <input class='poll-option' id='poll-option-3'>
    <br>
    Option #4
    <br>
    <input class='poll-option' id='poll-option-4'>
    <br>
    Poll Duration (minutes, defaults to 10):
    <br>
    <input id='poll-option-timer'>
    <br>
    <button id="poll-option-submit">Submit Poll</button>

    <div class='poll-view' id='admin-poll-view'></div>
    <div class='poll-view' id='client-poll-view'></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/new_poll_client.js"></script>
  </body>
</html>
