doctype html
html(lang="en")
  head
    title= title
  body
    h1= title

    #connection-count
    #status-message
    #choices
      each key, value in votes
        button.
          #{value}
    #vote-tallies-header
      Vote Tallies:
    #vote-tallies-1
    #vote-tallies-2
    #vote-tallies-3
    #vote-tallies-4

    #vote-tallies-current-header
      Your Vote:
    #vote-tallies-current

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
